# =====================
# HUBMC - Environment Configuration
# =====================

DATABASE_URL="mysql://user:password@localhost:3306/hubmc_store"

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SUPER_ADMIN_ID=
SUPER_ADMIN_PASSWORD=

YOUTUBE_CHANNEL_ID=
YOUTUBE_API_KEY=

DISCORD_SERVER_ID=
DISCORD_BOT_TOKEN=
DISCORD_INVITE=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

MC_RCON_HOST=
MC_RCON_PORT=25575
MC_RCON_PASSWORD=

BASE_URL=https://hubmc.in