# dependencies
node_modules/

# env files
.env
.env.local
.env.production

# build
dist/
build/

# cache
.vite/
.cache/

# logs
*.log

# IDE
.vscode/
.idea/

#
.tanstack/
.wrangler/



# OS
.DS_Store
Thumbs.db

# Prisma generated
node_modules/.prisma